<div class='snail'>
  {{#if image}}
    <img src='{{image}}' class='snail-img' alt='An image of {{name}}'>
  {{else}}
    <img src='/snail.png' class='snail-img' alt='A really fast snail'>
  {{/if}}
  <h2 class='heading-text'>{{name}}</h2>
  <button class='btn'>View</button>
</div>