<main class='flex-col'>
  <div class='title'>
    <h1>TWO FAST</h1>
    <h1>TWO FURIOUS</h1>
  </div>

  <img class='main-img' src='/home-snail.png' alt='A speedy fast snail'>

  <div class='btn-container'>
    <button class='btn'><a href='#'>Start racing</a></button>
    <button class='btn'><a href='#'>View snails</a></button>
  </div>
</main>