{{>header}}

<main class='result'>
  <div>
    <h2 class='heading-text'>RACER NAME</h2>
    <h2 class='heading-text'>IS THE WINNER</h2>
  </div>
  <img src='/snail.png' alt='The coolest snail on the block'>

  <button class='btn'><a href='#'>Race Another?</a></button>
</main>