{{>header}}

<main class='page-box'>
  <img src='/snail.png' alt='The coolest snail on the block'>
  <form>
    <label>
      Value
      <input type='text'>
    </label>

    <label>
      Value
      <input type='text'>
    </label>

    <label>
      Value
      <input type='text'>
    </label>

    <label>
      Value
      <input type='text'>
    </label>


    <button class='btn'><a href='#'>Initialize</a></button>

  </form>

</main>