{{>header}}
<main class='racers'>
  <div class='relative'>
    <h1 class='racer-title heading-text'>All Racers</h1>
    <div class='snail-container'>
      <div class='white-header'>
        <button class='btn-small racer-btn'><a href=''>Add snail</a></button>
      </div>
      {{>snail}}
      {{>snail}}
      {{>snail}}
      {{>snail}}
      {{>snail}}
      {{>snail}}
      {{>snail}}
      {{>snail}}
    </div>
  </div>
</main>