{{>header}}

<main class='page-box'>
  <img src='/snail.png' alt='The coolest snail on the block'>
  <h2 class='heading-text'>RACER NAME</h2>
  <div class='stats'>
    <p>Stat: Val</p>
    <p>Stat: Val</p>
    <p>Stat: Val</p>
    <p>Stat: Val</p>
  </div>

  <div class='btn-container'>
    <button class='btn'><a href='#'>Edit racer</a></button>
    <button class='btn'><a href='#'>Terminate</a></button>
  </div>
</main>